h1 {    
    color: white;
    background-color: red;
    font-size: 100px;
    text-align: center;
}
button {
    color: red;
    background-color: red;
    height: 50px;
}
p {
    font-style: italic;
    font-family: arial;
    text-align: right;
    background-color: hotpink;
}
image {
    float: left;
}
.intro {
    font-style: italic;
        width: 50%;
        color: blue;
}
.important {
    font-weight: 400;
    color: red;
}